*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

section ul li{
    transition: transform .4s;

}

section ul li:hover{
    transform: scale(1.1);
}
body{
    background-image: url(./fundo/estrelas.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    background-color: #121214;
}
 
body * {
    font-family: 'Montserrat';
    line-height: 160%;
}

header{
    margin-top: 32px;
    height: calc(120px + 32px);
   
}

header div{
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #e70303 0%, #67039d 100%);
    border-radius: 50%;

    display: flex;
    padding: 4px;

    transition: transform .4s;

}

header div:hover{
    transform: scale(1.1);
}

header div img{
    width: 100%;
    border-radius: 50%;

}

section{
    color: white;
    background-image: linear-gradient(90deg, #e70303 0%, #67039d 100%);
    padding-top: 4px;
    border-radius: 10px;
    
}

section div{
   background-color: #262629;
   padding: 32px;
   padding-top: 24px;
   border-radius: 8px;
 
}


section p{
    letter-spacing: -0.18px;
    color: #C1C1C1;
}

section ul{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    margin-top: 24px;
}

main{
    max-width: 580px;
    width: 90%;
    margin: 32px auto;

    display: flex;
    flex-direction: column;
    gap: 24px;
}


.filme-list img{
    border-radius: 8px;
    width: 90px;
}

.serie-list img{
    border-radius: 8px;
    width: 90px;
}

/*animation*/

header div{
    animation: fromtop .7s 1s backwards;
   
}

main section{
    animation: frombottom .7s backwards
    
}

main section:nth-child(1){
    animation-delay: 0;
}
main section:nth-child(2){
    animation-delay: .3s;
}
main section:nth-child(3){
    animation-delay: .6s;
}
    


@keyframes fromtop {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
 
}

@keyframes frombottom {
    from{
        opacity: 0;
        transform: translateX(30px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
    
}

